/* ================= CURSOR ================= */
.cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--white);

  pointer-events: none;
  z-index: 9999;

  /* Critical for DPI accuracy */
  will-change: transform;
  transform: translate3d(0, 0, 0);

  transition:
    background 0.2s ease,
    transform 0.12s ease;
}

.cursor.active {
  transform: scale(2);
  background: #000;
}
